*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family:'Trebuchet MS', sans-serif;
    background: #f6f7fb;
    margin: 0 auto;
}
h1 {
    margin: 0 0 60px 0;
    padding: 0;
}

.container {
    text-align: center;
}

.text-content {
    display: flex;
    justify-content: space-evenly;
    width: 530px;
    margin-bottom: 40px;
    position: absolute;
    bottom: 40%;
}
.text{
    font-size: 12px;
    color: #777;
}

.text.dark{
    color: #000;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 100%;
    width: 400px;
    margin-bottom: 60px;
    margin-inline: auto;
    position: relative;
}

.progress-container::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background: #e0e0e0;
    z-index: -1;
}
.progress{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    background: #4CB71A;
    z-index: -1;
    transition: 0.4s ease-in;
}


.circle {
    background-color: #fff;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #777;
    border: #e0e0e0 3px solid;
    transition: 0.4s ease;
}
.circle.active {
   border: 3px solid #4CB71A;
   color: #000;
}

.btn {
    display: inline-block;
    background: #3498db;
    padding: 0.7em 2.3em;
    color: #fff;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin: 5px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:disabled{
    background-color: #777;
    cursor: not-allowed;
}



@media(max-width: 568px){
    body {
        margin-left: 100px;
    }
}
